@import "tailwindcss";

/* Light Theme */
:root {
  --primary: #FCFCFC;
  --secondary: #5D576B;
  --accent: #F7567C;
}

/* Dark Theme */
[data-theme="dark"] {
    --primary: #5D576B;
    --secondary: #FCFCFC;
    --accent: #5D576B;
}

/*details and sum */
summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after{
  content: '';
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-8 h-8"><path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" /></svg>');
  background-size: cover;
  transition: 0.5s ease;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-pastel-pink: #F7567C;
  --color-pastel-light-pink: #FBA8B0;
  --color-pastel-white: #FFFAE3;
  --color-pastel-blue: #CCEEDE;
  --color-pastel-aqua: #99E1D9;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@layer base {
    h1 {
        @apply text-4xl font-bold text-secondary;
    }
    h2 {
        @apply text-3xl font-bold text-secondary;
    }
    h3 {
        @apply text-2xl font-bold text-secondary;
    }
    p {
        @apply text-base text-secondary;
    }
    li {
        @apply text-base text-secondary;
    }
}