@import "tailwindcss";

/* Light Theme */
:root {
  --primary: #FCFCFC;
  --secondary: #5D576B;
  --accent: #F7567C;
}

/* Dark Theme */
[data-theme="dark"] {
    --primary: #5D576B;
    --secondary: #FCFCFC;
    --accent: #5D576B;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-pastel-pink: #F7567C;
  --color-pastel-light-pink: #FBA8B0;
  --color-pastel-white: #FFFAE3;
  --color-pastel-blue: #CCEEDE;
  --color-pastel-aqua: #99E1D9;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@layer base {
    h1 {
        @apply text-4xl font-bold text-secondary;
    }
    h2 {
        @apply text-3xl font-bold text-secondary;
    }
    h3 {
        @apply text-2xl font-bold text-secondary;
    }
    p {
        @apply text-base text-secondary;
    }
    li {
        @apply text-base text-secondary;
    }
}